<navbar></navbar>

<div class="container admin whiteBox">
  <h1><i class="fa fa-lock"></i> Panel de Administrador</h1>
  <div class="row">
    <div class="col-sm-3 opcionesAdmin">
      <h3><i class="fa fa-list-alt"></i> Opciones</h3>
        <ul>
          <li><i class="fa fa-pencil-square-o"></i>
            <a href="#infoClanAdmin">Info del clan</a></li>
          <li><i class="fa fa-odnoklassniki-square"></i>
            <a href="#cartasAdmin">Lista de cartas</a></li>
          <li><i class="fa fa-users"></i>
            <a href="#listaUsuariosAdmin">Lista de usuarios</a></li>
        </ul>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12 infoClanAdmin">
          <h3 id="infoClanAdmin"><i class="fa fa-pencil-square-o"></i> Info del clan</h3>
          <form class="editor">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Nombre del Clan</span>
              <input type="text" class="form-control" placeholder="Elite España" ng-model="admin.infoclan.info().nombre" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Twitter: @</span>
              <input type="text" class="form-control" placeholder="EliteEspanaCR" ng-model="admin.infoclan.info().twitter" aria-describedby="basic-addon1">
            </div>
            <div text-angular ng-model="admin.infoclan.info().homeTexto"></div>
            <button class="btn btn-success " aria-haspopup="true"  aria-expanded="false" ng-click="admin.save()">
            <i class="fa fa-floppy-o"></i>  Guardar
            </button>
          </form>
        </div>
        <div class="col-sm-12 cartasAdmin">
          <h3 id="cartasAdmin"><i class="fa fa-odnoklassniki-square"></i> Lista de cartas</h3>
          <div class="row">

              <div ng-repeat="carta in admin.cartas">
                <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <span class="label label-info">{{ carta._id }}</span>
                  <img src="../assets/images/cartas/{{ carta.nombre }}.100.png" alt="{{ carta.name }}.png">
                  <div class="caption">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">Nombre:</span>
                      <input type="text" class="form-control" placeholder="Carta" ng-model="carta.nombre" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">Tipo:</span>
                      <input type="text" class="form-control" placeholder="Carta" ng-model="carta.tipo" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">Calidad:</span>
                      <input type="text" class="form-control" placeholder="Carta" ng-model="carta.calidad" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">Arena:</span>
                      <input type="text" class="form-control" placeholder="Carta" ng-model="carta.arena" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">Coste:</span>
                      <input type="text" class="form-control" placeholder="Carta" ng-model="carta.coste" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">Uso:</span>
                      <label type="text" class="form-control" placeholder="Carta" ng-model="carta.uso" aria-describedby="basic-addon1">{{ carta.uso }}</label>
                    </div>
                    <button class="btn btn-success " aria-haspopup="true"  aria-expanded="false" ng-click="admin.cartaSave(carta)">
                    <i class="fa fa-floppy-o"></i>  Guardar
                    </button>
                  </div>
                </div>

            </div>
          </div>
        </div>
        <div class="col-sm-12 listaUsuariosAdmin">
          <h3 id="listaUsuariosAdmin"><i class="fa fa-users"></i> Lista de usuarios</h3>
          <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
          <ul class="list-group user-list">
            <li class="list-group-item" ng-repeat="user in admin.users">
        	    <div class="user-info">
        	        <strong>{{user.name}}</strong><br>
        	        <span class="text-muted">{{user.email}}</span>
        	    </div>
                <a ng-click="admin.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
