<navbar></navbar>

<div class="container admin whiteBox">
  <h1><i class="fa fa-lock"></i> Panel de Administrador</h1>
  <div class="row">
    <div class="col-sm-3 opcionesAdmin">
      <h3><i class="fa fa-list-alt"></i> Opciones</h3>
        <ul>
          <li><i class="fa fa-pencil-square-o"></i>
            <a href="#infoClanAdmin">Info del clan</a></li>
          <li><i class="fa fa-odnoklassniki-square"></i>
            <a href="#cartasAdmin">Lista de cartas</a></li>
          <li><i class="fa fa-users"></i>
            <a href="#listaUsuariosAdmin">Lista de usuarios</a></li>
        </ul>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12 infoClanAdmin">
          <h3 id="infoClanAdmin"><i class="fa fa-pencil-square-o"></i> Info del clan</h3>
          <form class="editor">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Nombre del Clan</span>
              <input type="text" class="form-control" placeholder="Elite España" ng-model="admin.infoclan.info().nombre" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Twitter: @</span>
              <input type="text" class="form-control" placeholder="EliteEspanaCR" ng-model="admin.infoclan.info().twitter" aria-describedby="basic-addon1">
            </div>
            <div text-angular ng-model="admin.infoclan.info().homeTexto"></div>
            <button class="btn btn-success " aria-haspopup="true"  aria-expanded="false" ng-click="admin.save()">
            <i class="fa fa-floppy-o"></i>  Guardar
            </button>
          </form>
        </div>
        <div class="col-sm-12 cartasAdmin">
          <h3 id="cartasAdmin"><i class="fa fa-odnoklassniki-square"></i> Lista de cartas</h3>
          <div class="row">

              <div ng-repeat="carta in admin.cartas">
                <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <span class="label label-info">{{ carta._id }}</span>
                  <img src="../assets/images/cartas/{{ carta.nombre }}.png" alt="{{ carta.name }}.png">
                  <div class="caption">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">Nombre:</span>
                      <input type="text" class="form-control" placeholder="Carta" ng-model="carta.nombre" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">Tipo:</span>
                      <input type="text" class="form-control" placeholder="Carta" ng-model="carta.tipo" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">Calidad:</span>
                      <input type="text" class="form-control" placeholder="Carta" ng-model="carta.calidad" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">Arena:</span>
                      <input type="text" class="form-control" placeholder="Carta" ng-model="carta.arena" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">Coste:</span>
                      <input type="text" class="form-control" placeholder="Carta" ng-model="carta.coste" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">Uso:</span>
                      <label type="text" class="form-control" placeholder="Carta" ng-model="carta.uso" aria-describedby="basic-addon1">{{ carta.uso }}</label>
                    </div>
                    <button class="btn btn-success " aria-haspopup="true"  aria-expanded="false" ng-click="admin.cartaSave(carta)">
                    <i class="fa fa-floppy-o"></i>  Guardar
                    </button>
                  </div>
                </div>

            </div>
          </div>
        </div>
        <div class="col-sm-12 listaUsuariosAdmin" id="listaUsuariosAdmin">
          <h3><i class="fa fa-users"></i> Lista de usuarios</h3>
          <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-search" id="sizing-addon2"></span>
            <input type="text" class="form-control" placeholder="Nombre de Usuario" aria-describedby="sizing-addon2" ng-model="nombreUser">
          </div>
          <span>Usuarios por página:</span>
          <div class="btn-group" id="filtroNumusuarios" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="admin.paginaSize = 5">5</button>
            <button type="button" class="btn btn-default" ng-click="admin.paginaSize = 15">15</button>
            <button type="button" class="btn btn-default" ng-click="admin.paginaSize = 25">25</button>
          </div>
          <ul class="list-group user-list">
            <li class="list-group-item" ng-repeat="user in admin.users | filter:nombreUser | orderBy:'name' | startFrom:admin.currentPage*admin.paginaSize | limitTo:admin.paginaSize"
            ng-class="user.clanConfirmado ? 'list-group-item-success' : ('list-group-item-warning')">
        	    <div class="user-info user-info-editor">
        	        <strong>Nombre: {{user.name}}</strong>
                  <br>
                  <strong>Proveedor: {{user.provider}}</strong>
                  <br>
                  <div class="input-group">
                    <span class="input-group-addon" id="mail-{{$index}}">@</span>
                    <input type="text" class="form-control" ng-model="user.email">
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon" id="nickJuego-{{$index}}">Nick (juego)</span>
                    <input type="text" class="form-control" ng-model="user.nickJuego">
                  </div>

                  <div class="btn-group" uib-dropdown is-open="status[$index].isopen">
                    <button id="clanes-button-{{$index}}" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                      Clan: {{ user.clan }} <span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="clanes-button-{{$index}}">
                      <li role="menuitem" ng-repeat="clan in admin.appConfig.clanes"><a href="#"  ng-click="admin.setClan(user,clan)">{{ clan }}</a></li>
                    </ul>
                  </div>

                  <div class="btn-group" uib-dropdown is-open="status[$index].isopen2">
                    <button id="role-button-{{$index}}" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                      Rol: {{ user.role }} <span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="role-button-{{$index}}">
                      <li role="menuitem" ng-repeat="role in admin.appConfig.userRoles"><a href="#"  ng-click="admin.setRol(user,role)">{{ role }}</a></li>
                    </ul>
                  </div>

                  <div class="btn-group" uib-dropdown is-open="status[$index].isopen3">
                    <button id="rango-button-{{$index}}" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                      Rango: {{ user.rango }} <span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="rango-button-{{$index}}">
                      <li role="menuitem" ng-repeat="rango in admin.appConfig.userRangos"><a href="#" ng-click="admin.setRango(user,rango)">{{ rango }}</a></li>
                    </ul>
                  </div>
                  <br>
                  <button id="confirmar-button-{{$index}}" type="button" ng-class="user.clanConfirmado? 'btn btn-success' : ('btn btn-warning')" ng-click="user.clanConfirmado = !user.clanConfirmado">
                    ¿Confirmado?: {{ user.clanConfirmado }}
                  </button>
        	    </div>
                <a ng-click="admin.saveUser(user)" class="save"><span class="fa fa-save fa-2x"></span></a>
                <br>
                <a ng-click="admin.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
            </li>
          </ul>
        </div>
        <nav>
          <ul class="pager">
            <li class="previous" ng-class="admin.currentPage == 0 ? 'disabled' : ''"><a href="#" ng-click="admin.currentPage = admin.currentPage - 1"><span aria-hidden="true">&larr;</span> Older</a></li>
            <li class="next" ng-class="(admin.users.length <= ((admin.currentPage + 1) * admin.paginaSize)) ? 'disabled' : ''"><a href="#" ng-click="admin.currentPage = admin.currentPage + 1" >Newer <span aria-hidden="true">&rarr;</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
