<navbar></navbar>

<div class="container whiteBox settings">
  <div class="row">

    <div class="col-sm-3 opcionesSettings">
      <div ui-scrollpoint="" ui-scrollpoint-edge="['top']" ui-scrollpoint-class="affixed">
        <h3><i class="fa fa-list-alt"></i> Opciones</h3>
          <ul>
            <li><i class="fa fa-pencil-square-o"></i>
              <a href="#cambiarClan">Info, y cambio de Clan</a></li>
            <li ng-show="settings.provider == local"><i class="fa fa-users"></i>
              <a href="#cambiarPassword">Cambiar Password</a></li>
          </ul>
      </div>
    </div>

    <div class="col-sm-9">

      <div class="col-sm-12" id="cambiarClan">
        <h1>Info, y cambio de Clan</h1>
        <p><strong>Por defecto, los usuarios de nuestra web se consideran 'sin clan'</strong>, ya que no hay manera automática actualmente de confirmar a que clan pertenece en el juego.</p>
        <p>Tampoco hay una manera sencilla de confirmar nuestros propios jugadores (de los clanes de Elite España), ni de clanes afiliados.</p>
        <p>Así que <strong>cuando un jugador se marca a si mismo como miembro de un clan oficial</strong> (EE o afiliado), se debe pasar un <strong>proceso de validación</strong> por parte de nuestros colideres.</p>
        <p><strong>Una vez seleccionas tu clan actual, tu cuenta se marca en cola para ser verificada (fondo amarillo)</strong>. Esto genera automáticamente un aviso en el panel de control de nuestros colideres, que, cuando su tiempo lo permita, podrán verificar tu identidad, y, finalmente, finalizar el cambio (fondo verde)</p>
        <div class="panel" ng-class="(user.clanConfirmado && user.clan != 'none') ? 'panel-success' : ((!user.clanConfirmado && user.clan != 'none') ? 'panel-warning' : ('panel-default'))">
          <label>Nombre: {{ user.name }}</label>
          <div class="input-group">
            <span class="input-group-addon" id="user_nick">Nick en el Juego</span>
            <input type="text" class="form-control" placeholder="Vacio" aria-describedby="user_nick" ng-model="user.nickJuego">
          </div>
          <div class="btn-group" uib-dropdown is-open="status.isopen">
            <button id="clanes-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
              Clan: {{ user.clan }} <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu role="menu" aria-labelledby="clanes-button">
              <li role="menuitem" ng-repeat="clan in appConfig.clanes"><a href="#"  ng-click="vm.setClan(user,clan)">{{ clan }}</a></li>
            </ul>
          </div>
        </div>
        <button id="clanes-button" type="button" class="btn btn-success" uib-dropdown-toggle ng-click="vm.enviar(user)">
          Enviar cambios
        </button>
      </div>
      <div class="col-sm-12" ng-show="settings.user.provider == local" id="cambiarPassword">
        <h1>Cambiar Contraseña</h1>
        <form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate>

          <div class="form-group">
            <label>Current Password</label>

            <input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword"
                   mongoose-error/>
            <p class="help-block" ng-show="form.password.$error.mongoose">
                {{ vm.errors.other }}
            </p>
          </div>

          <div class="form-group">
            <label>New Password</label>

            <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword"
                   ng-minlength="3"
                   required/>
            <p class="help-block"
               ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
              Password must be at least 3 characters.
            </p>
          </div>

          <div class="form-group">
            <label>Confirm New Password</label>

            <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                   match="vm.user.newPassword"
                   ng-minlength="3"
                   required=""/>
            <p class="help-block"
               ng-show="form.confirmPassword.$error.match && vm.submitted">
              Passwords must match.
            </p>

          </div>

          <p class="help-block"> {{ vm.message }} </p>

          <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
