.settings{
  margin-top: 65px;

  #cambiarClan{
    .panel{
      padding: 15px;
      .input_group,.btn-group{
        margin-top: 2px;
      }
    }
    .panel-warning{
      background-color: #faebcc;
    }
    .panel-success{
      background-color: #dff0d8;
    }
  }


  .opcionesSettings {
		li {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 14px;
			line-height: 1.42857;
			color: #333333;
			list-style-type: none;
			margin-left: -27px;
		}
		.affixed {
	    display: block;
	    position: fixed;
	    top: 40px;
		}
	}
}
