<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="row">
      <div id="miCiclo" ng-hide="!cofres.miCiclo.length">
        <img ng-repeat="cofre in cofres.miCiclo" src="assets/images/cofres/{{ cofre.calidad }}.png"/>
      </div>
    </div>
    <div class="row">
      <div ng-show="!cofres.resultados.length">
        <h2>Instrucciones</h2>
        <p>Debes introduir una combinación valida.</p>
        <p>Al hacerlo, <strong>el sistema te responderá cuantos cofres tendrás que esperar</strong> en el mejor de los casos, y en el peor de los casos.</p>
        <p>El orden de los cofres es siempre el mismo (lista), por lo que se cosideran 'no-validas' aquellas combinaciones que no existan en dicha lista. Si introduces una combinación demasiado larga (>7) se reiniciará automáticamente</p>
      </div>
      <button ng-click="cofres.addCofre('1')" type="button" class="btn btn-default">Silver</button>
      <button ng-click="cofres.addCofre('2')" type="button" class="btn btn-warning"> Gold</button>
      <button ng-click="cofres.limpiarCofre()" type="button" class="btn btn-danger"> Reset</button>
    </div>
    <div class="row">
      <div id="resultado" ng-repeat="res in cofres.resultados | orderBy:'res'">
        <div id="mejor" class="panel panel-success" ng-show='$first && !$middle && !$last'>
          <h3>En el mejor de los casos solo tendrás que esperar</h3>
          <h1>{{ res.res }}</h1>
          <h3>cofres mas</h3>
        </div>
        <div id="peor" class="panel panel-danger" ng-show='!$first && !$middle && $last'>
          <h3>En el peor de los casos aún tendrás que esperar</h3>
          <h1>{{ res.res }}</h1>
          <h3>cofres mas</h3>
        </div>
      </div>
    </div>
  </div>
</div>
