<navbar></navbar>

<div class="container colider whiteBox">
  <h1><i class="fa fa-lock"></i> Panel de Colider</h1>
  <div class="row">
    <div class="col-sm-3 opcionesColider">
      <div ui-scrollpoint="" ui-scrollpoint-edge="['top']" ui-scrollpoint-class="affixed">
        <h3><i class="fa fa-list-alt"></i> Opciones</h3>
          <ul>
            <li><i class="fa fa-pencil-square-o"></i>
              <a href="#infoClanAdmin">Info del clan</a></li>
            <li><i class="fa fa-odnoklassniki-square"></i>
              <a href="#cartasAdmin">Lista de cartas</a></li>
            <li><i class="fa fa-users"></i>
              <a href="#listaUsuariosAdmin">Lista de usuarios</a></li>
          </ul>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12 infoClanColider">
          <div class="col-sm-12 listaUsuariosColider" id="listaUsuariosColider">
            <h3><i class="fa fa-users"></i> Lista de usuarios</h3>
            <div class="input-group">
              <span class="input-group-addon glyphicon glyphicon-search" id="sizing-addon2"></span>
              <input type="text" class="form-control" placeholder="Nombre de Usuario" aria-describedby="sizing-addon2" ng-model="nombreUser">
            </div>
            <span>Usuarios por página:</span>
            <div class="btn-group" id="filtroNumusuarios" role="group" aria-label="...">
              <button type="button" class="btn btn-default" ng-click="colider.paginaSize = 5">5</button>
              <button type="button" class="btn btn-default" ng-click="colider.paginaSize = 15">15</button>
              <button type="button" class="btn btn-default" ng-click="colider.paginaSize = 25">25</button>
            </div>
            <span>Confirmado</span>
            <div class="btn-group" id="filtroConfirmado" role="group" aria-label="...">
              <button type="button" class="btn btn-default" ng-click="colider.confirbool = false">No</button>
              <button type="button" class="btn btn-default" ng-click="colider.confirbool = true">Sí</button>
            </div>
            <ul class="list-group user-list">
              <li class="list-group-item" ng-repeat="user in colider.users | filter:nombreUser | filter:{ clan: '!none'} | filter:{ clanConfirmado: colider.confirbool} | filter:{ rango: '!colider'} | filter:{ rango: '!lider'} | orderBy:'name' | startFrom:colider.currentPage*colider.paginaSize | limitTo:colider.paginaSize"
              ng-class="user.clanConfirmado ? 'list-group-item-success' : ('list-group-item-warning')">
          	    <div class="user-info user-info-editor col-xs-9">
          	        <strong>Nombre: {{user.name}}</strong>
                    <br>
                    <strong>Nick en el juego: {{user.nickJuego}}</strong>
                    <br>
                    <strong>Clan: {{user.clan}}</strong>                              	    </div>
                <div class="col-xs-3">
                  <button id="confirmar-button-{{$index}}" type="button" ng-class="user.clanConfirmado? 'btn btn-success' : ('btn btn-warning')" ng-click="colider.setConfirmado(user)">
                    ¿Confirmado?: {{ user.clanConfirmado }}
                  </button>
                </div>
              </li>
            </ul>
            <nav>
              <ul class="pager">
                <li class="previous" ng-class="colider.currentPage == 0 ? 'disabled' : ''"><a href="#" ng-click="colider.currentPage = colider.currentPage - 1"><span aria-hidden="true">&larr;</span> Older</a></li>
                <li class="next" ng-class="(colider.users.length <= ((colider.currentPage + 1) * colider.paginaSize)) ? 'disabled' : ''"><a href="#" ng-click="colider.currentPage = colider.currentPage + 1" >Newer <span aria-hidden="true">&rarr;</span></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
