.torneos{
  margin-top: 75px;
  #torneo-nuevo{
    padding: 15px;
    h2 {
      margin-top: -5px;
    }
    h3 {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .linea-arriba {
      border-top: 1px #ddd solid;
      margin-top: 15px;
    }
    .torneo-nuevo-opciones{
      padding: 10px;
      #torneo-nuevo-md_visor{
        padding: 10px;
      }
      textarea{
        margin-top: -15px;
        padding: 10px;
        width: 100%;
      }
    }
  }
  .torneos-lista{
    display: inline-flex;
    position: relative;
    padding: 5px;
    .panel {
      display: inline-block;
      padding: 15px;
      margin-bottom: 2px;
      h2,h3{
        margin: 0px;
      }
      @media (max-width: 767px) {
        h2{
          overflow-wrap: break-word;
          width: 420px;
        }
      }
      .progress{
        margin: 0px;
      }
    }
    .torneos-lista-botonera{
      text-align: center;
      margin-top: 15px;
    }
    .torneos-lista-finalizado {
      h3 {
        text-align: center;
      }
      h4 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
      }
    }
    .torneo-oficial{
      background-color: #e6f2e6
    }
    .torneo-inactivo {
      background-color: #e6e6e6
    }
    .torneo-trophy-oro{
      color: gold;
    }
    .torneo-trophy-plata{
      color: silver;
    }
    .torneo-trophy-bronce{
      color: brown;
    }
  }

  .torneo-vista{
    min-height: 350px;
  }

  .torneo-vista,.torneo-vista-info{
    padding: 15px;
  }

  .ronda{
    overflow: auto;
    // width: 100%;
    // position: relative;
    // display: inline-flex;
    // text-align: center;
    // padding: 1px;
    // .player{
    //   min-width: 75px;
    //   padding: 3px;
    //   border: 1px solid black;
    // }
    // .score{
    //   padding: 3px;
    //   width: 30px;
    //   min-width: 30px;
    //   border-top: 1px solid black;
    //   border-bottom: 1px solid black;
    // }
    $winColor: #DA0;
    $loseColor: #CCC;
    $thirdColor: #963;
    $fourthColor: #678;

    $connectorColor: #666;

    $boxHeight: 22px;
    $boxPadding: 3px;

    div.jQBracket{
      font-family: "Arial";
      font-size: 14px;
      position: relative;

      .tools{
        position: absolute;
        top: 0px;
        color: #FFF;
      }

      .tools span{
        cursor: pointer;
        margin: 5px;
        display: block;
        text-align: center;
        width: 18px;
        height: 18px;
        background-color: #666;
      }

      .tools span:hover{
        background-color: #999;
      }

      .finals{
        float: right;
        right: 0px;
        clear: right;
        position: relative;
      }

      .bracket{
        float: right;
        clear: left;
      }

      .loserBracket{
        float: right;
        clear: left;
        position: relative;
      }

      .round{
        position: relative;
        width: 100px;
        margin-right: 40px;
        float: left;
      }

      .match{
        position: relative;
      }

      .editable{
        cursor: pointer;
      }

      .team{
        position: relative;
        z-index: 1;
        float: left;
        background-color: #EEE;
        width: 100px;
        cursor: default;

        &:first-child{
          border-bottom: 1px solid #999;
        }

        input{
          font-size: 12px;
          padding: 0;
          width: inherit;
          border: none;
          margin: 0;
        }

        div.label{
          font-size: 14px !important;
          padding: $boxPadding;
          position: absolute;
          width: 70px;
          height: $boxHeight;
          white-space: nowrap;
          overflow: hidden;
          color: black;
          vertical-align: middle;
          font-family: 'Exo 2', sans-serif;
          font-weight: 200;
          text-align: right;
          line-height: normal;

          &[disabled]{
            cursor: default;
          }
        }

        div.score{
          float: right;
          padding: $boxPadding;
          background-color: rgba(255,255,255,0.3);
          text-align: center;
          width: 20px;

          &[disabled]{
            color: #999;
            cursor: default;
          }
        }

        div.label input.error,
        div.score input.error{
          background-color: #FCC;
        }

        &.np{
          background-color: #666;
          color: #EEE;
        }

        &.na{
          background-color: #999;
          color: #CCC;
        }

        &.win{
          color: #333;
          background-color: rgba(225,255,225,1);
        }

        &.win div.score{
          color: #060;
        }

        &.lose div.score{
          color: #900;
        }

        &.lose{
          background-color: rgba(255,225,225,1);
          color: #999;
        }

        &.tie div.score{
          color: #00F;
        }

        &.highlightWinner{
          background-color: $winColor;
          color: #000;
        }

        &.highlightLoser{
          background-color: $loseColor;
          color: #000;
        }

        &.highlight{
          background-color: #3C0;
          color: #000;
        }
      }

      .teamContainer{
        z-index: 1;
        position: relative;
        float: left;
      }

      .connector{
        border: 2px solid $connectorColor;
        border-left-style: none;
        position: absolute;
        z-index: 1;

        div.connector{
          border: none;
          border-bottom: 2px solid $connectorColor;
          height: 0px;
          position: absolute;
        }

        &.highlightWinner,
        div.connector.highlightWinner{
          border-color: $winColor;
        }

        &.highlightLoser,
        div.connector.highlightLoser{
          border-color: $loseColor;
        }

        &.highlight,
        div.connector.highlight{
          border-color: #0C0;
        }
      }

      .np .connector,
      .np .connector div.connector{
        border-color: #222;
      }

      .bubble{
        height: $boxHeight;
        line-height: $boxHeight;
        width: 30px;
        right: -35px;
        position: absolute;
        text-align: center;
        font-size: 11px;

        &.third{
          background-color: $thirdColor;
          color: #D95;
        }

        &.fourth{
          background-color: $fourthColor;
          color: #CCD;
        }

        &:after{
          content: '';
          position: absolute;
          top: 6px;
          width: 0;
          height: 0;
          border-top:    5px solid transparent;
          border-left:   5px solid transparent;
          border-right:  5px solid transparent;
          border-bottom: 5px solid transparent;
        }

        &:after{
          left: -5px;
          border-left: 0;
        }
        &.third:after{
          border-right: 6px solid $thirdColor;
        }
        &.fourth:after{
          border-right: 6px solid $fourthColor;
        }
      }

      .highlightWinner{
        .bubble{
          background-color: $winColor;
          color: #960;
          &:after{
            border-right-color: $winColor;
          }
        }
      }

      .highlightLoser{
        .bubble{
          background-color: $loseColor;
          color: #333;
          &:after{
            border-right-color: $loseColor;
          }
        }
      }
    }

    div.jQBracket.rl{
      .finals{
        float: left;
        left: 0px;
        clear: left;
      }

      .bracket{
        float: left;
        clear: right;
      }

      .loserBracket{
        float: left;
        clear: right;
      }

      .round{
        margin-right: 0;
        margin-left: 40px;
        float: right;
      }

      .team{
        float: right;

        div.label{
          right: 0;
        }

        div.score{
          float: left;
        }
      }

      .teamContainer{
        float: right;
      }

      .connector{
        border-left-style: solid;
        border-right-style: none;
        border-width: 2px;
        &.highlightWinner,
        div.connector.highlightWinner{
          border-color: $winColor;
        }

        &.highlightLoser,
        div.connector.highlightLoser{
          border-color: $loseColor;
        }

        &.highlight,
        div.connector.highlight{
          border-color: #0C0;
        }
      }

      .bubble{
        left: -35px;

        &.third{
          background-color: $thirdColor;
          color: #310;
        }

        &.fourth{
          background-color: $fourthColor;
          color: #CCD;
        }

        &:after{
          left: auto;
          right: -5px;
          border-left:   5px solid transparent;
          border-right: 0;
        }
        &.third:after{
          border-right: none;
          border-left: 6px solid $thirdColor;
        }
        &.fourth:after{
          border-right: none;
          border-left: 6px solid $fourthColor;
        }
      }

      .highlightWinner{
        .bubble{
          &:after{
            border-left-color: $winColor;
          }
        }
      }

      .highlightLoser{
        .bubble{
          &:after{
            border-left-color: $loseColor;
          }
        }
      }
    }
  }

  .chat-box{
    padding: 5px 5px 5px 15px;
    display: block;
    overflow-y: scroll;
    min-height: 316px;
    max-height: 500px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    .owner {
      color: $rojo;
    }
    .mensaje{
      padding-left: 8px;
      border-left: 1px solid #ddd;
      margin-top: -10px;
      margin-left: 4px;
    }
    .mensajePlayer {
      border-color: #ddd;
    }
    .mensajeOwner {
      border-color: $rojo;
    }
    form {
      height: 35px;
    }
  }
}
