<div class="container torneos">
  <!-- Generador de torneos -->
  <div class="row">
    <button type="button" class="btn" ng-click="torneo.switchMostrarNuevo()" ng-class="torneo.mostrarNuevo ? 'btn-warning' : ('btn-success')">{{ torneo. mostrarNuevoTexto }}</button>
    <div class="panel panel-default" id="torneo-nuevo" ng-show="torneo.mostrarNuevo">
      <h2><i class="fa fa-plus-circle"></i>
        Editor: <span class="label label-warning">Torneo Nuevo</span></h2>
      <h3 class="linea-arriba">Instrucciones:</h3>
      <p>Para poder crear un torneo nuevo, <strong>se ha de ser colider</strong>. Esto cambiará en el futuro, cuando abramos la herramienta para todo el mundo.</p>
      <p>Tienes que elegir a que clan va dirigido el torneo, ya que <strong>solo podrán participar los miembros del clan seleccionado</strong>. No queremos que la gente entre y salga de los clanes para los torneos, salvo evento excepcional (ej: los torneos de dShadow)</p>
      <p>Los jugadores <strong>no podrán ingresar en el torneo si no están marcados como miembros del clan seleccionado</strong>, por lo que es importante que controles la lista de miembros en el <a href="/colider">panel de colider</a>. Dicho de otra manera: <strong>Los jugadores deben estar registrados, y haber seleccionado su clan en el panel de opciones, y haber sido validados por un colider, para poder apuntarse al torneo</strong></p>
      <p>El total de jugadores no puede ser superior a 50, lógicamete, pero no tiene un mínimo: Dependerá de cuantos jugadores validados se inscriban. Así es mas fácil para todos.</p>
      <p></p>
      <p></p>
      <div class="torneo-nuevo-opciones">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Nombre del Torneo</span>
          <input type="text" class="form-control" placeholder="EEX || 09#2016" aria-describedby="basic-addon1" ng-model="torneo.nuevo.name" ng-change="torneo.nuevoValidarName()">
        </div>
        <div class="alert alert-danger" role="alert" ng-hide="torneo.okNuevoName">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          El nombre del torneo no puede estar <strong>vacio</strong> ni <strong>repetido</strong>
        </div>
      </div>
      <div class="torneo-nuevo-opciones">
        <h3>Info del torneo:</h3>
        <p>Escribe lo que quieras que sepa la gente que va a participar en el torneo. Puedes usar <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">markdown</a>.</p>
        <p>Recuerda que <strong>no es obligatorio</strong> que escribas nada.</p>
        <div class="panel panel-info" btf-markdown="torneo.nuevo.info" id="torneo-nuevo-md_visor"></div>
        <textarea rows="7" ng-model="torneo.nuevo.info"></textarea>
      </div>
      <div class="torneo-nuevo-opciones">
        <span>Clan:</span>
        <div class="btn-group" id="torneo-clanes" role="group" aria-label="..." ng-repeat="clan in torneo.appConfig.clanes | filter:'!none'">
          <button type="button" class="btn" ng-click="torneo.nuevoValidarClan(clan)" ng-class="torneo.nuevo.clan==clan ? 'btn-success' : ('btn-default')">{{ clan }}</button>
        </div>
      </div>
      <div class="torneo-nuevo-opciones">
        <span>Tamaño:</span>
        <div class="btn-group" id="torneo-clanes" role="group" aria-label="..." ng-repeat="size in torneo.appConfig.torneoSize">
          <button type="button" class="btn" ng-click="torneo.nuevoValidarSize(size)" ng-class="torneo.nuevo.size==size ? 'btn-success' : ('btn-default')">{{ size }}</button>
        </div>
      </div>
      <button type="button" class="btn btn-info" ng-show="torneo.okNuevo" ng-click="torneo.nuevoSave()">Crear el torneo: "{{ torneo.nuevo.name }}"</button>
    </div>
  </div>
  <!-- Torneos en los que participo -->
  <h1 ng-show="torneo.myTorneos.length>0"><i class="fa fa-calendar-check-o"></i> Mis Torneos</h1>
  <div class="row" ng-show="torneo.myTorneos.length>0">
    <div class="torneos-lista" ng-repeat="tor in torneo.myTorneos | orderBy:'-open' | filter:{active:true}">
      <div class="panel panel-success" ng-class="tor.official ? 'torneo-oficial' : ('')" id="torneo-{{ tor._id }}">
        <h2>
          <span class="label label-success" ng-show="{{ tor.official }}"><i class="fa fa-star"></i> Oficial</span>
          <a href="/torneos/{{ tor._id }}">
            {{ tor.name }}
          </a>
        </h2>
        <h4>
          <span class="label label-info">{{ tor.clan }}</span>
          <span class="label label-warning" ng-bind="tor.date | date:'dd/MM/yy'" />
        </h4>
        <!-- <p>active: {{ torneo.active }}</p> -->
        <!-- <p>open: {{ torneo.open }}</p> -->
        <div class="torneos-lista-botonera">
          <button type="button" class="btn btn-primary" ng-show="tor.open && torneo.mostrarInscrito(tor)" ng-click="torneo.inscribirse(tor)"><i class="fa fa-sign-in"></i> <strong>Inscríbete</strong> al Torneo ({{ tor.users.length }}/{{ tor.size }})</button>
          <h3 ng-show="tor.open && !torneo.mostrarInscrito(tor)"><span class="label label-success"><i class="fa fa-check"></i>OK ({{ tor.users.length }}/{{ tor.size }})</span></h3>
          <uib-progressbar class="progress-striped active" value="dynamic" type="{{ tor.clan }}" ng-hide="tor.open">En juego: Fase 1/4</uib-progressbar>
        </div>
      </div>
    </div>
  </div>
  <!-- Torneos activos -->
  <h1><i class="fa fa-trophy"></i> Torneos Activos</h1>
  <div class="row">
    <div class="torneos-lista" ng-repeat="tor in torneo.torneos | orderBy:'-open'">
      <div class="panel panel-success" ng-class="tor.official ? 'torneo-oficial' : ('')" id="torneo-{{ tor._id }}">
        <h2>
          <span class="label label-success" ng-show="{{ tor.official }}"><i class="fa fa-star"></i> Oficial</span>
          <a href="/torneos/{{ tor._id }}">
            {{ tor.name }}
          </a>
        </h2>
        <h4>
          <span class="label label-info">{{ tor.clan }}</span>
          <span class="label label-warning" ng-bind="tor.date | date:'dd/MM/yy'" />
        </h4>
        <!-- <p>active: {{ torneo.active }}</p> -->
        <!-- <p>open: {{ torneo.open }}</p> -->
        <div class="torneos-lista-botonera">
          <button type="button" class="btn btn-primary" ng-show="tor.open && torneo.mostrarInscrito(tor)" ng-click="torneo.inscribirse(tor)"><i class="fa fa-sign-in"></i> <strong>Inscríbete</strong> al Torneo ({{ tor.users.length }}/{{ tor.size }})</button>
          <!-- <h3 ng-show="tor.open && !torneo.mostrarInscrito(tor) && tor.clan == torneo.user.clan"><span class="label label-success"><i class="fa fa-check"></i>OK: ({{ tor.users.length }}/{{ tor.size }})</span></h3>
          <h3 ng-show="tor.open && !torneo.mostrarInscrito(tor) && tor.clan != torneo.user.clan"><span class="label label-danger"><i class="fa fa-close"></i>{{ tor.clan }} ({{ tor.users.length }}/{{ tor.size }})</span></h3> -->
          <uib-progressbar class="progress-striped active" value="dynamic" type="{{ tor.clan }}" ng-hide="tor.open">En juego: Fase 1/4</uib-progressbar>
        </div>
      </div>
    </div>
  </div>


  <!-- Torneos finalizados el ultimo mes -->
  <h1><i class="fa fa-thumb-tack"></i> Torneos Recientes</h1>
  <div class="row">
    <div class="torneos-lista" ng-repeat="torneo in torneo.torneos | filter:{active:false}">

      <div class="panel panel-success torneos-lista-finalizado" ng-class="torneo.official ? 'torneo-oficial' : ('')" id="torneo-{{ torneo._id }}">
        <h3><a href="/torneos/{{ torneo._id }}">
          {{ torneo.name }}
        </a></h3>
        <h5>
          <span class="label label-success" ng-show="{{ torneo.official }}"><i class="fa fa-star"></i></span>
          <span class="label label-info">{{ torneo.clan }}</span>
          <span class="label label-warning"><i class="fa fa-users"></i> {{ torneo.size }}</span>
          <span class="label label-primary" ng-bind="torneo.date | date:'dd/MM/yy'" />
        </h5>
        <!-- <p>active: {{ torneo.active }}</p> -->
        <h4><i class="fa fa-trophy torneo-trophy-oro"></i> Kino der Puto-Nombre-Largo</h4>
        <h4><i class="fa fa-trophy torneo-trophy-plata"></i> Joshua</h4>
        <h4><i class="fa fa-trophy torneo-trophy-bronce"></i> Richal</h4>
        <!-- <p>open: {{ torneo.open }}</p> -->
      </div>
    </div>
  </div>
  <!-- Histórco de Torneos -->

</div>
