<div class="container">
  <p><a href="https://github.com/arkdelkaos/EECR"><i class="fa fa-github"></i> EECR</a> |
    <a href="https://twitter.com/{{ main.info[0].twitter }}"><i class="fa fa-twitter"></i> @{{ main.infoclan.info().twitter }}</a> |
    <a href="https://github.com/arkdelkaos/EECR/issues/issues?state=open"><i class="fa fa-exclamation-circle"></i> ¿Has encontrado algún error en la web?</a>
  </p>
  <p>"This content is not affiliated with, endorsed, sponsored, or specifically approved by Supercell and Supercell is not responsible for it.</p>
  <p>For more information see Supercell’s Fan Content Policy: <a href="www.supercell.com/fan-content-policy">www.supercell.com/fan-content-policy</a>."</p>
</div>
