<div class="container">
  <p><a href="https://github.com/arkdelkaos/EECR"><i class="fa fa-github"></i> EECR</a> |
    <a href="https://twitter.com/{{ main.info[0].twitter }}"><i class="fa fa-twitter"></i> @{{ main.infoclan.info().twitter }}</a> |
    <a href="https://github.com/arkdelkaos/EECR/issues/issues?state=open"><i class="fa fa-exclamation-circle"></i> ¿Has encontrado algún error en la web?</a>
  </p>
  <p>
    <a href="http://pagerank.chromefans.org" target=_blank title="Online PageRank Checker, PageRank Checker for Chrome"><img src="http://pr.chromefans.org/?u=9f8c3fd7165a3888043db6a0ee0932f2&amp;style=1" ALT="PageRank Checker" STYLE="border:0px"></A>
    <a href="https://travis-ci.org/arkdelkaos/EECR" target=_blank title="Travis: EECR"><img src="https://travis-ci.org/arkdelkaos/EECR.svg?branch=master" alt="travis"></a>
    <a href="https://david-dm.org/arkdelkaos/EECR" target=_blank title="david-dm.org"><img src="https://david-dm.org/arkdelkaos/EECR.svg" alt="david-dm.org"></a>
    <a href='https://coveralls.io/github/arkdelkaos/EECR?branch=master'><img src='https://coveralls.io/repos/github/arkdelkaos/EECR/badge.svg?branch=master' alt='Coverage Status' /></a>
  </p>
  <p>"This content is not affiliated with, endorsed, sponsored, or specifically approved by Supercell and Supercell is not responsible for it.</p>
  <p>For more information see Supercell’s Fan Content Policy: <a href="www.supercell.com/fan-content-policy">www.supercell.com/fan-content-policy</a>."</p>
</div>
