.pokesalchichasForm {
  margin-bottom: 15px;
  div {
    padding-top: 3px;
  }
  .alert{
    margin-bottom: 10px;
    margin-top: 3px;
  }
  .btn-login{
    margin-top: 0px;
    width: 200px;
  }
}

.pokeLista{
  .btn-danger{
    margin-bottom: 7px;
  }
  .cubreBoton {
    height: 45px;
    margin-bottom: 7px;
  }
}
