header.hero-unit#banner
  div.parallax.hidden-xs.hidden-sd(ng-parallax, pattern='"assets/images/bg/esp.jpg"', speed='10', reverse='false')
  div.titulo
    h2 {{ clanVista.prueba }} {{ clan.prueba }} {{ $ctrl.prueba }} {{ vm.prueba }}
    p
      img#logo(src='assets/images/eeavatarborjonudo.png', alt='@EliteEspanaCR')
      |ELITE
      strong ESPAÑA
    h3 Generador y Ranking de Mazos
    h3 Herramienta de gestión de Torneos
    
navbar
div This is the clan view.
footer
