header.clanBanner(ng-style='{"background-image": "url(./assets/images/clanes/"+vm.clanInfo.media.fondo+")"}')
  div.titulo
    
    p(ng-style='{color: vm.clanInfo.media.color2}') 
      img#logo(src='./assets/images/clanes/{{ vm.clanInfo.media.logo }}')
    //- h2 Clan <strong>{{ vm.clanInfo.info.nivel }}</strong>
    
navbar

div This is the clanVista view.
div This is the clanVista view.

div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.
div This is the clanVista view.

footer
