<div class="row">

  <!-- Normas -->

  <div class="col-sm-6 pull-right">
    <div btf-markdown="clan.infoclan.info().clanTexto" id="md_visor_clanTexto">
    </div>

    <div class="clanTexto" ng-show="clan.isAdmin()">
        <div id="md_editor_clanTexto">
          <h1>Editor de Normas</h1>
          <textarea rows="15" ng-model="clan.infoclan.info().clanTexto"></textarea>
          <button class="btn btn-success " aria-haspopup="true"  aria-expanded="false" ng-click="clan.save()">
          <i class="fa fa-floppy-o"></i>  Guardar
          </button>
        </div>
    </div>
  </div>

  <!-- Staff -->

  <div class="col-sm-6 staff pull-left">
    <h1>Staff</h1>
    <h3>EE1</h3>
    <div class="ficha">
      <img src="assets/images/staff/ark.jpg" alt="..." class="img-circle">
      <div class="caption">
        <p>Madrid</p>
        <h3>Ark</h3>
        <h5>EE1 - Lider</h5>
        <p>Programador</p>
      </div>
    </div>
    <div class="ficha">
      <img src="assets/images/staff/borjo.jpg" alt="..." class="img-circle">
      <div class="caption">
        <p>Stuttgart</p>
        <h3>Borjo</h3>
        <h5>EE1 - Co-líder</h5>
        <p>Programador</p>
      </div>
    </div>
    <div class="ficha">
      <img src="assets/images/staff/dantux.jpg" alt="..." class="img-circle">
      <div class="caption">
        <p>Madrid</p>
        <h3>Dantux</h3>
        <h5>EE1 - Co-líder</h5>
        <p>Rey de los Mancos</p>
      </div>
    </div>
    <div class="ficha">
      <img src="assets/images/staff/dshadow.jpg" alt="..." class="img-circle">
      <div class="caption">
        <p>Barcelona</p>
        <h3>DShadow</h3>
        <h5>EE1 - Co-líder</h5>
        <p>Streamer</p>
      </div>
    </div>
    <div class="ficha">
      <img src="assets/images/staff/carlos.jpg" alt="..." class="img-circle">
      <div class="caption">
        <p>Madrid</p>
        <h3>Carlos</h3>
        <h5>EE1 - Co-líder</h5>
        <p>Trompista</p>
      </div>
    </div>
    <div class="ficha">
      <img src="assets/images/staff/luis.jpg" alt="..." class="img-circle">
      <div class="caption">
        <p>Granada</p>
        <h3>Luis</h3>
        <h5>EE1 - Co-líder</h5>
        <p>Estudiante</p>
      </div>
    </div>

    <h3>EE2</h3>
    <div class="ficha">
      <img src="assets/images/staff/rives.jpg" alt="..." class="img-circle">
      <div class="caption">
        <p>Barcelona</p>
        <h3>Rives</h3>
        <h5>EE2 - Líder</h5>
        <p>UAB</p>
      </div>
    </div>
    <div class="ficha">
      <img src="assets/images/staff/johhan.jpg" alt="..." class="img-circle">
      <div class="caption">
        <p>Reus</p>
        <h3>JoHhAN</h3>
        <h5>EE2 - Co-líder</h5>
        <p>Estudiante</p>
      </div>
    </div>
    <div class="ficha alter">
      <img src="assets/images/staff/kinodertoten.jpg" alt="..." class="img-circle">
      <div class="caption">
        <p>Alter</p>
        <h5>Moon</h5>
        <p>Kino der Toten</p>
      </div>
    </div>
    <div class="ficha">
      <img src="assets/images/staff/sin_cara.jpg" alt="..." class="img-circle">
      <div class="caption">
        <p>-</p>
        <h3>Mistol</h3>
        <h5>EE2 - Co-líder</h5>
        <p>-</p>
      </div>
    </div>
    <div class="ficha">
      <img src="assets/images/staff/daniel.jpg" alt="..." class="img-circle">
      <div class="caption">
        <p>Mexico</p>
        <h4>Daniel M</h4>
        <h5>EE2 - Co-líder</h5>
        <p>Estudiante</p>
      </div>
    </div>
    <div class="ficha">
      <img src="assets/images/staff/kuarterback.jpg" alt="..." class="img-circle">
      <div class="caption">
        <p>Madrid</p>
        <h4>Kuaterback</h4>
        <h5>EE1 - Co-líder</h5>
        <p>Estudiante</p>
      </div>
    </div>

    <h3>EE3</h3>
    <div class="ficha">
      <img src="assets/images/staff/kirito.jpg" alt="..." class="img-circle">
      <div class="caption">
        <p>Madrid</p>
        <h3>Krito</h3>
        <h5>EE3 - Líder</h5>
        <p>Estudiante</p>
      </div>
    </div>
    <div class="ficha">
      <img src="assets/images/staff/tonijimenez.jpg" alt="..." class="img-circle">
      <div class="caption">
        <p>Córdoba</p>
        <h4>Toni
          Jimenez</h4>
        <h5>EE3 - Co-líder</h5>
        <p>Estudiante</p>
      </div>
    </div>
    <div class="ficha">
      <img src="assets/images/staff/danig.jpg" alt="..." class="img-circle">
      <div class="caption">
        <p>Requena</p>
        <h3>Danig430</h3>
        <h5>EE3 - Co-líder</h5>
        <p>Estudiante</p>
      </div>
    </div>
    <div class="ficha">
      <img src="assets/images/staff/sin_cara.jpg" alt="..." class="img-circle">
      <div class="caption">
        <p>-</p>
        <h4>Friasclash</h4>
        <h5>EE3 - Co-líder</h5>
        <p>-</p>
      </div>
    </div>

    <h3>EE4</h3>
    <div class="ficha">
      <img src="assets/images/staff/cromero.jpg" alt="..." class="img-circle">
      <div class="caption">
        <p>Barcelona</p>
        <h3>Cromero</h3>
        <h5>EE4 - Líder</h5>
        <p>Estudiante</p>
      </div>
    </div>
    <div class="ficha">
      <img src="assets/images/staff/kinodertoten.jpg" alt="..." class="img-circle">
      <div class="caption">
        <p>Murcia</p>
        <h4>Kino der Toten</h4>
        <h5>EE4 - Co-líder</h5>
        <p>Est. de diseño</p>
      </div>
    </div>
    <div class="ficha">
      <img src="assets/images/staff/gaby.jpg" alt="..." class="img-circle">
      <div class="caption">
        <p>Elche</p>
        <h3>Gaby</h3>
        <h5>EE4 - Co-líder</h5>
        <p>Estudiante</p>
      </div>
    </div>
    <div class="ficha">
      <img src="assets/images/staff/styleniko.jpg" alt="..." class="img-circle">
      <div class="caption">
        <p>Madrid</p>
        <h4>Style Niko</h4>
        <h5>EE4 - Co-líder</h5>
        <p>Estudiante</p>
      </div>
    </div>
    <div class="ficha">
      <img src="assets/images/staff/aegor.jpg" alt="..." class="img-circle">
      <div class="caption">
        <p>Madrid</p>
        <h3>Aegor</h3>
        <h5>EE4 - Co-líder</h5>
        <p>Estudiante</p>
      </div>
    </div>
  </div>
</div>
