<div id="affix" ui-scrollpoint="" ui-scrollpoint-edge="['top']" ui-scrollpoint-class="affixed"><div class="navbar navbar-default" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#banner" class="navbar-brand" du-smooth-scroll ng-show="nav.isActive('/')"><img alt="Brand" src="assets/images/eeavatarborjonudo.png" width="50px" height="50px">
      </a>
      <a href="/" class="navbar-brand" du-smooth-scroll ng-hide="nav.isActive('/')"><img alt="Brand" src="assets/images/eeavatarborjonudo.png" width="50px" height="50px">
      </a>
    </div>
    <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <!-- <li ng-repeat="item in nav.menu" ng-class="{active: nav.isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li> -->
        <li>
          <a href="#mazos" ng-show="nav.isActive('/')" du-smooth-scroll>Mazos</a>
        </li>
        <li>
          <a href="#torneos" ng-show="nav.isActive('/')" du-smooth-scroll>Torneos</a>
        </li>
        <li>
          <a href="#cofres" ng-show="nav.isActive('/')" du-smooth-scroll>Cofres</a>
        </li>
        <li>
          <a href="#rrss" ng-show="nav.isActive('/')" du-smooth-scroll><i class="fa fa-twitter"></i></a>
        </li>
        <li><a href="#clan" ng-show="nav.isActive('/')" du-smooth-scroll>Clan</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!-- <li ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/login')}"><a href="/login">Login</a></li> -->
        <li ng-show="nav.isLoggedIn()" uib-dropdown on-toggle="toggled(open)"><a href="#" uib-dropdown-toggle>Hola, {{ nav.getCurrentUser().name }} <span class="glyphicon glyphicon-user"></span></a>
          <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li ng-class="{disabled: nav.isActive('/settings')}">
              <a href="/settings"><span class="glyphicon glyphicon-cog"></span> Opciones</a>
            </li>
            <li ng-show="nav.isColider()" ng-class="{disabled: nav.isActive('/colider')}">
              <a href="/colider"><span class="glyphicon glyphicon-cog"></span> Panel de Colider</a>
            </li>
            <li ng-show="nav.isAdmin()" ng-class="{disabled: nav.isActive('/admin')}">
              <a href="/admin"><span class="glyphicon glyphicon-cog"></span> Panel de Admin</a>
            </li>
            <li role="separator" class="divider"></li>
            <li ng-show="nav.isLoggedIn()"><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Salir</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div></div>
