div#affix(ui-scrollpoint='', ui-scrollpoint-edge='["top"]',  ui-scrollpoint-class='affixed')
  div.navbar.navbar-default
    div.container
      div.navbar-header
        button.navbar-toggle(type='button', ng-click='$ctrl.isCollapsed = !$ctrl.isCollapsed')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#banner', du-smooth-scroll,  ng-show='$ctrl.isActive("/")')
          img(alt='Brand', src='assets/images/eeavatarborjonudo.png', width='50px', height='50px')
        a.navbar-brand(href='/', du-smooth-scroll, ng-hide='$ctrl.isActive("/")')
          img(alt='Brand', src='assets/images/eeavatarborjonudo.png', width='50px', height='50px')
      
      div.navbar-collapse.collapse#navbar-main(uib-collapse='$ctrl.isCollapsed')
        ul.nav.navbar-nav
          li
            a(href='#mazos', ng-show='$ctrl.isActive("/")', du-smooth-scroll) Mazos
          li
            a(href='#torneos', ng-show='$ctrl.isActive("/")', du-smooth-scroll) Torneos
          li
            a(href='#cofres', ng-show='$ctrl.isActive("/")', du-smooth-scroll) Cofres
          li
            a(href='#rrss', ng-show='$ctrl.isActive("/")', du-smooth-scroll)
              i.fa.fa-twitter
          li
            a(href='#pokesalchichas', ng-show='$ctrl.isActive("/")', du-smooth-scroll) Pokemon
          li
            a(href='#clan', ng-show='$ctrl.isActive("/")', du-smooth-scroll) Clan
        ul.nav.navbar-nav.navbar-right
          li(ng-show='$ctrl.isLoggedIn()', uib-dropdown, on-toggle='toggled(open)')
            a(href='#',uib-dropdown-toggle) Hola, {{ $ctrl.getCurrentUser().name }} 
              span.glyphicon.glyphicon-user
            ul(uib-dropdown-menu, aria-labelledby='simple-dropdown')
              li(ng-class='{disabled: $ctrl.isActive("/settings")}')
                a(href='/settings')
                  span.glyphicon.glyphicon-cog
                  | Opciones
              li(ng-show='$ctrl.isColider()', ng-class='{disabled: $ctrl.isActive("/colider")}')
                a(href='/colider')
                  span.glyphicon.glyphicon-cog
                  | Panel de Colider
              li(ng-show='$ctrl.isAdmin()', ng-class='{disabled: $ctrl.isActive("/admin")}')
                a(href='/admin')
                  span.glyphico.glyphicon-cog
                  | Panel de Admin
              li.divider(role='separator')
              li(ng-show='$ctrl.isLoggedIn()')
              a(href='/logout')
                span.glyphicon.glyphicon-log-out(aria-hidden='true')
                | Salir
