#affix {
  top: 0;
  img  {
    visibility: hidden;
  }
}

#affix.affixed {
  width: 100%;
  position: fixed;
  z-index: 9999;

  .navbar-default{
    background: rgba(256,256,256,0.85);
  }

  img {
    visibility: visible;
    margin-top: 8px;
  }
}
