<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>{{ main.infoclan.info().nombre }}</h1>
    <h2>Ranking + Torneos</h2>
    <img src="assets/images/eeavatar.png" alt="@EliteEspanaCR">
  </div>
</header>

<div class="wrapper">

  <div class="contenedor_blanco">
    <div class="container">
      <div class="panel panel-default" id="about_us" ng-bind-html="main.infoclan.info().homeTexto">
      </div>
    </div>
  </div>

  <div class="subheader">
    <div class="container">
      <h2>Top y Editor de</h2>
      <h1>Mazos</h1>
    </div>
  </div>

  <div class="contenedor_blanco">
    <div class="container" id="about_editor">
      <div class="row">
        <div class="hidden-sm hidden-xs col-md-4">
          <div class="pull-right"><img src="../../assets/images/info_mazos.png" class="img-responsive" /></div>
        </div>
        <div class="col-sm-12 col-md-8">
          <div class="panel panel-default" id="about_us">
            <h1>En obras</h1>
            <p>Aún no está e condiciones de ser testado</p>
            <p>La RC incluirá las siguientes opciones:</p>
            <ul>
              <li>Editor de mazo própio, filtrable por cada característica de las cartas</li>
              <li>Visor de TOP25, de mazos mas usados, con estadísticas</li>
              <li>Visor de TOP25, de mazos mas votados, con estadísticas</li>
              <li>Visor de TOP10, de cartas mas y menos usadas, con estadísticas</li>
              <li>Lista completa de mazos, ordenable por cada criterio</li>
              <li>Vista de cada mazo, con chat-foro en tiempo real</li>
              <li>Imágenes de alta definición de las cartas</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="subheader">
    <div class="container">
      <h2>Generador de</h2>
      <h1>Torneos</h1>
    </div>
  </div>

  <div class="contenedor_blanco">
    <div class="container" id="about_editor">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <div class="panel panel-default" id="about_us">
            <h1>En obras</h1>
            <p>Aún no está en condiciones de ser testado</p>
            <p>La RC incluirá las siguientes opciones:</p>
            <ul>
              <li>Generador de torneos, con sistema de inscripción</li>
              <li>Sistema de Karma y herramientas de arbitraje</li>
              <li>Logros y Trofeos, con vitrina virtual en el perfil de cada usuario</li>
              <li>Lista de Torneos activos, torneos de la semana, e histórico de torneos</li>
            </ul>
          </div>
        </div>
        <div class="hidden-sm hidden-xs col-md-4">
          <img src="../../assets/images/info_mazos.png" />
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container" id="chat">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Test de chat en tiempo real:</h1>
        <div class="chat-box" id="chat-box-main">
          <p ng-repeat="thing in main.awesomeThings">
            {{thing.name}}
            <button type="button" class="close" ng-click="main.deleteThing(thing)" ng-show="main.isAdmin()">&times;</button>
          </p>
        </div>
        <!-- <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
          <li><a href="#" uibtooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="main.deleteThing(thing)" ng-show="main.isAdmin()"
>&times;</button></a></li>
        </ul> -->
      </div>
    </div>

    <form class="thing-form">
      <label>Los mensajes se trasmiten en tiempo real entre todos los clientes ;)</label>
      <p class="input-group">
        <input type="text" class="form-control" placeholder="Añade un nuevo mensaje" ng-model="main.newThing">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-click="main.addThing()">Add New</button>
        </span>
      </p>
    </form>

</div>

<footer></footer>
