.thing-form {
  margin: 20px 0;
}
#chat {
  background: white;

  .chat-box{
    padding: 5px 5px 5px 15px;
    display: block;
    overflow-y: scroll;
    max-height: 500px;
    border: grey 1px solid;
  }
}

.hero-unit {
  position: relative;
  background-image: url("../assets/images/bg/esp.jpg");
  background-repeat: no-repeat !important;
    background-position: bottom;
    background-attachment: fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
  display: table;
  width: 100%;
  height: 512px;
  min-height: 1000px;
  overflow-x: hidden;
  overflow-y: hidden;
  vertical-align: middle;

  @media (max-width: 767px){
    background-image: none;
    background-color: #335baf;
    min-height: 500px;
  }

  .titulo {
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding-top: 40px;
    z-index: 999;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    clear: both;
    overflow: auto;
    position: relative;
    height: 340px;
    transition: all 900ms cubic-bezier(1, 0, 0, 1);
    @media (max-width: 767px){
      padding-top: 20px;

    }
    p {
      font-family: 'Exo 2', sans-serif;
      font-weight: 900;
      font-size: 72px;
      text-shadow: 0 10px 0 rgba(0, 0, 0, 0.75);
      color: $amarillo;
      margin-bottom: -25px;
      transform: scale(1);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      @media (max-width: 767px){
        font-size: 42px;
        text-shadow: 0 6px 0 rgba(0, 0, 0, 0.75);
        margin-bottom: -10px;
      }
      &:hover{
        font-size: 78px;
        @media (max-width: 767px){
          font-size: 48px;
          text-shadow: 0 7px 0 rgba(0, 0, 0, 0.75);
        }
      }
      strong{
        color: $rojo;
      }
    }

    h2 {
      font-family: 'Exo 2', sans-serif;
      font-weight: 200;
      padding-left: 196px;
      margin-bottom: -58px;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
      @media (max-width: 767px){
        padding-left: 96px;
        margin-bottom: -12px;
        font-size: 20px;
      }
    }
    h3 {
      font-family: 'Open Sans', sans-serif;
      margin-top: -6px;
      text-align: center;
      margin-left: 150px;
      text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
      @media (max-width: 767px){
        margin-left: 75px;
        font-size: 16px;
      }
    }
    #logo {
      width: 150px;
      height: 150px;
      @media (max-width: 767px){
        width: 75px;
        height: 75px;
      }
    }
    #logo_cr{
      width: 150px;
      height: 65px;
      margin-bottom: 30px;
      @media (max-width: 767px){
        width: 75px;
        height: 32px;
        margin-bottom: 0px;
      }
    }
  }
}



.navbar-text {
  margin-left: 15px;
}


//
// Nuevo Estilo
//

section#mazos {
  #mazos_sh{
    position: relative;
    display: table;
    height: 500px !important;
    width: 100%;
    background: url("../assets/images/bg/madrid.jpg");
    background-repeat: no-repeat !important;
      background-position: bottom center;
      background-attachment: fixed !important;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
    margin-top: -20px;
    margin-bottom: -60px;
    z-index: -1;
    color: white;
    vertical-align: middle;
    @media (max-width: 767px){
      background-image: linear-gradient(35deg, #ba2828, #914b00);
      background-color: #ba2828;
      height: 250px !important;
      margin-top: -60px;
      margin-bottom: -30px;
    }

    #mazos_ban{
      vertical-align: middle;
      display: table-cell;
      text-align: center;

      p {
        font-family: 'Exo 2', sans-serif;
        font-weight: 900;
        font-size: 72px;
        text-shadow: 0 10px 0 rgba(0, 0, 0, 0.75);
        color: $amarillo;
        margin-bottom: 0px;
        transform: scale(1);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        z-index: 999;
        @media (max-width: 767px){
          font-size: 42px;
          text-shadow: 0 6px 0 rgba(0, 0, 0, 0.75);
        }
        @media (max-width: 500px){
          font-size: 32px;
          text-shadow: 0 5px 0 rgba(0, 0, 0, 0.75);
        }
        strong{
          color: $rojo;
        }
        &:hover{
          font-size: 78px;
          @media (max-width: 767px){
            font-size: 46px;
            text-shadow: 0 7px 0 rgba(0, 0, 0, 0.75);
          }
          @media (max-width: 500px){
            font-size: 36px;
            text-shadow: 0 6px 0 rgba(0, 0, 0, 0.75);
          }
        }
      }

      h2 {
        font-family: 'Exo 2', sans-serif;
        font-weight: 200;
        margin-top: -12px;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
        @media (max-width: 767px){
          margin-top: -5px;
        }
      }
      h3 {
        font-family: 'Open Sans', sans-serif;
        margin-bottom: -29px;
        text-align: center;
        margin-left: 150px;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
        @media (max-width: 767px){
          margin-top: 25px;
          margin-bottom: -10px;
        }
      }
    }
  }


  .tapa_arriba{
    height: 75px;
    background: white;
    transform: skewY(-1deg);
    z-index: 99;
    margin-top: 0px;
  }

  .tapa_abajo{
    height: 125px;
    background: white;
    transform: skewY(3deg);
    z-index: 99;
    margin-top: 0px;
  }

  #mazos_content{
    z-index: 999;
    margin-top: -100px;
    position: relative;
  }
}


section#torneos {
  #torneos_sh{
    position: relative;
    display: table;
    height: 500px !important;
    width: 100%;
    background: url("../assets/images/bg/barcelona.jpg");
    background-repeat: no-repeat !important;
      background-position: bottom center;
      background-attachment: fixed !important;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
    margin-top: -20px;
    margin-bottom: -60px;
    z-index: -1;
    color: white;
    vertical-align: middle;
    @media (max-width: 767px){
      background-image: linear-gradient(35deg, #914b00, #918f00);
      background-color: #914b00;
      height: 250px !important;
      margin-top: -60px;
      margin-bottom: -30px;
    }

    #torneos_ban{
      vertical-align: middle;
      display: table-cell;
      text-align: center;

      p {
        font-family: 'Exo 2', sans-serif;
        font-weight: 900;
        font-size: 72px;
        text-shadow: 0 10px 0 rgba(0, 0, 0, 0.75);
        color: $amarillo;
        margin-bottom: -25px;
        transform: scale(1);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        z-index: 999;
        @media (max-width: 767px){
          font-size: 38px;
          text-shadow: 0 5px 0 rgba(0, 0, 0, 0.75);
          margin-top: 20px;
        }
        strong{
          color: $rojo;
        }
        &:hover{
          font-size: 78px;
          @media (max-width: 767px){
            font-size: 42px;
            text-shadow: 0 6px 0 rgba(0, 0, 0, 0.75);
          }
        }
      }

      h2 {
        font-family: 'Exo 2', sans-serif;
        font-weight: 200;
        margin-top: -10px;
        margin-left: 69px;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
        @media (max-width: 767px){
          margin-top: 0px;
        }
      }
      h3 {
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 0px;
        text-align: center;
        margin-left: 150px;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
        @media (max-width: 767px){
          margin-top: 25px;
        }
      }
    }
  }


  .tapa_arriba{
    height: 75px;
    background: white;
    transform: skewY(1deg);
    z-index: 99;
    margin-top: 0px;
  }

  .tapa_abajo{
    height: 125px;
    background: white;
    transform: skewY(3deg);
    z-index: 99;
    margin-top: 0px;
    @media (max-width: 767px){
      height: 50px;
    }
  }

  #torneos_content{
    z-index: 999;
    margin-top: -100px;
    position: relative;
  }
}


section#cofres {
  #cofres_sh{
    position: relative;
    display: table;
    height: 500px !important;
    width: 100%;
    background: url("../assets/images/bg/valencia.jpg");
    background-repeat: no-repeat !important;
      background-position: bottom center;
      background-attachment: fixed !important;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
    margin-top: -36px;
    margin-bottom: -60px;
    z-index: -1;
    color: white;
    vertical-align: middle;
    @media (max-width: 767px){
      background-image: linear-gradient(35deg, #918f00, #007e91);
      background-color: #918f00;
      height: 250px !important;
      margin-top: -36px;
      margin-bottom: -60px;
    }

    #cofres_ban{
      vertical-align: middle;
      display: table-cell;
      text-align: center;

      p {
        font-family: 'Exo 2', sans-serif;
        font-weight: 900;
        font-size: 72px;
        text-shadow: 0 10px 0 rgba(0, 0, 0, 0.75);
        color: $amarillo;
        margin-bottom: 0px;
        transform: scale(1);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        z-index: 999;
        @media (max-width: 767px){
          font-size: 36px;
          text-shadow: 0 6px 0 rgba(0, 0, 0, 0.75);
        }
        @media (max-width: 500px){
          font-size: 30px;
          text-shadow: 0 5px 0 rgba(0, 0, 0, 0.75);
        }
        strong{
          color: $rojo;
        }
        &:hover{
          font-size: 78px;
          @media (max-width: 767px){
            font-size: 42px;
            text-shadow: 0 7px 0 rgba(0, 0, 0, 0.75);
          }
          @media (max-width: 767px){
            font-size: 36px;
            text-shadow: 0 6px 0 rgba(0, 0, 0, 0.75);
          }
        }
      }

      h2 {
        font-family: 'Exo 2', sans-serif;
        font-weight: 200;
        margin-left: -235px;
        margin-bottom: -24px;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
        @media (max-width: 767px){
          margin-top: -20px;
          margin-bottom: -10px;
          margin-left: -200px;
        }
      }
      h3 {
        font-family: 'Open Sans', sans-serif;
        margin-top: -6px;
        text-align: center;
        margin-left: 150px;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
        @media (max-width: 767px){
          margin-top: 0px;
        }
      }
    }
  }


  .tapa_arriba{
    height: 75px;
    background: white;
    transform: skewY(-2deg);
    z-index: 99;
    margin-top: 0px;
  }

  .tapa_abajo{
    height: 125px;
    background: white;
    transform: skewY(-2deg);
    z-index: 99;
    margin-top: 0px;
  }

  #cofres_content{
    margin-top: -100px;
    position: relative;
    z-index: 999;
  }
}


section#rrss {
  #rrss_sh{
    position: relative;
    display: table;
    height: 500px !important;
    width: 100%;
    background: url("../assets/images/bg/salamanca.jpg");
    background-repeat: no-repeat !important;
      background-position: bottom center;
      background-attachment: fixed !important;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
    margin-top: -36px;
    margin-bottom: -60px;
    z-index: -1;
    color: white;
    vertical-align: middle;
    @media (max-width: 767px){
      background-image: linear-gradient(35deg, #007e91, #600091);
      background-color: #007e91;
      height: 250px !important;
    }

    #rrss_ban{
      vertical-align: middle;
      display: table-cell;
      text-align: center;

      p {
        font-family: 'Exo 2', sans-serif;
        font-weight: 900;
        font-size: 72px;
        text-shadow: 0 10px 0 rgba(0, 0, 0, 0.75);
        color: $amarillo;
        margin-bottom: 0px;
        margin-top: -50px;
        transform: scale(1);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        z-index: 999;
        @media (max-width: 767px){
          font-size: 42px;
          text-shadow: 0 6px 0 rgba(0, 0, 0, 0.75);
        }
        strong{
          color: $rojo;
        }
        &:hover{
          font-size: 78px;
          @media (max-width: 767px){
            font-size: 46px;
            text-shadow: 0 7px 0 rgba(0, 0, 0, 0.75);
          }
        }
      }

      h2 {
        font-family: 'Exo 2', sans-serif;
        font-weight: 200;
        margin-left: 135px;
        margin-bottom: -24px;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
      }
      h3 {
        font-family: 'Open Sans', sans-serif;
        margin-top: -6px;
        text-align: center;
        margin-left: -100px;
        margin-bottom: -24px;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
      }
    }
  }


  .tapa_arriba{
    height: 75px;
    background: white;
    transform: skewY(2deg);
    z-index: 99;
    margin-top: 0px;
  }

  .tapa_abajo{
    height: 125px;
    background: white;
    transform: skewY(2deg);
    z-index: 99;
    margin-top: 0px;
  }

  #rrss_content{
    margin-top: -100px;
    position: relative;
    z-index: 999;
  }
}


section#clan {
  #about_us_sh{
    position: relative;
    display: table;
    height: 500px !important;
    width: 100%;
    background: url("../assets/images/bg/leon.jpg");
    background-repeat: no-repeat !important;
      background-position: bottom center;
      background-attachment: fixed !important;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
    margin-top: -20px;
    margin-bottom: -60px;
    z-index: -1;
    color: white;
    vertical-align: middle;
    @media (max-width: 767px){
      background-image: linear-gradient(35deg, #600091, #ba2828);
      background-color: #600091;
      height: 250px !important;
    }

    #about_us_ban{
      vertical-align: middle;
      display: table-cell;
      text-align: center;

      p {
        font-family: 'Exo 2', sans-serif;
        font-weight: 900;
        font-size: 72px;
        text-shadow: 0 10px 0 rgba(0, 0, 0, 0.75);
        color: $amarillo;
        margin-bottom: 0px;
        transform: scale(1);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        z-index: 999;
        @media (max-width: 767px){
          font-size: 42px;
          text-shadow: 0 6px 0 rgba(0, 0, 0, 0.75);
        }
        strong{
          color: $rojo;
        }
        &:hover{
          font-size: 78px;
          @media (max-width: 767px){
            font-size: 46px;
            text-shadow: 0 7px 0 rgba(0, 0, 0, 0.75);
          }
        }
      }

      h2 {
        font-family: 'Exo 2', sans-serif;
        font-weight: 200;
        margin-left: -235px;
        margin-bottom: -40px;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
        @media (max-width: 767px){
          margin-top: -22px;
          margin-bottom: -18px;
        }
      }
      h3 {
        font-family: 'Open Sans', sans-serif;
        margin-top: -6px;
        text-align: center;
        margin-left: 150px;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
        @media (max-width: 767px){
          margin-left: 100px;
        }
      }
    }
  }


  .tapa_arriba{
    height: 75px;
    background: white;
    transform: skewY(1deg);
    z-index: 99;
    margin-top: 0px;
  }

  .tapa_abajo{
    height: 125px;
    background: white;
    transform: skewY(-3deg);
    z-index: 99;
    margin-top: 0px;
  }

  #about_us{
    margin-top: -100px;
    position: relative;
    z-index: 999;
  }
}
