.thing-form {
  margin: 20px 0;
}

#banner {
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: $amarillo;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: $fondo-negro-semitrans url("../assets/images/banner.png") no-repeat center bottom;
  border-bottom: $fondo-boton-rojo 2px solid;
  margin-bottom: 10px;

  img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-unit {
    background-image: none;
  }
}

.navbar-text {
  margin-left: 15px;
}

.info-clan {
  margin: 5px 0px 15px 0px;

  .btn {
    width: 100% !important;
  }

  b {
    color: $amarillo;
  }

  span {
    color: $amarillo;
  }
}

.twitterBar {
  background: $fondo-negro-semitrans;
  padding: 0px;
  border: $twitter 1px solid;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  color: white;

  h4 {
    color: $twitter;
  }
  a {
    color: $twitter;
  }
}

.SandboxRoot button{
  border-color: $twitter !important;
}

.ranking {
  color: white;
  margin: none;

  .votadas {
    h1 {
      color: white;
    }
    .panel {
      background-color: $fondo-negro-semitrans;
      border: $fondo-boton-rojo 1px solid;
    }

    .panel-heading {
      background-color: $fondo-boton-rojo;
      border-bottom: $fondo-boton-rojo 1px solid;
    }
  }
  .usadas {
    h1 {
      color: white;
    }

    .panel {
      background-color: $fondo-negro-semitrans;
      border: $fondo-boton-amarillo 1px solid;
    }

    .panel-heading {
      background-color: $fondo-boton-amarillo;
      border-bottom: $fondo-boton-amarillo 1px solid;
    }
  }
}
