.thing-form {
  margin: 20px 0;
}

#banner {
  margin-top: -20px;
}

#chat {
  background: white;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: $amarillo;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: $fondo-negro-semitrans url("../assets/images/banner.png") no-repeat center bottom;
  border-bottom: $fondo-boton-rojo 5px solid;
  margin-bottom: 0px;

  img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-unit {
    background-image: none;
  }
}

.navbar-text {
  margin-left: 15px;
}


.topCartas{
  h2 {

  }

  .carta {
  padding: 0px;
  }
}

//
// Nuevo Estilo
//

.wrapper{
  width: 100%;

  .contenedor_blanco{
    background: trasparent;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;

    .panel {
      margin-bottom: 10px;
      background: $fondo-negro-semitrans;
      border: $fondo-boton-amarillo 3px solid;
      border-top-right-radius: 15px;
      border-top-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 15px;
    }
    .panel:first-child {
      margin-top: 10px;
    }

    #top_usadas_vista{
      width: 365px;
    }

    #top_votadas_vista{
      width: 365px;
    }

    #about_us{
      padding:10px;

      h1{
        font-size: 32px !important;
      }

      h3 {
        color: white;
        font-size: 26px;
        text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.75);
      }

      p,li {
        color: white;
        font-size: 18px;
        padding-left: 15px;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);

        b {
          color: $amarillo;
        }
        strong {
          color: $rojo;
          font-size: 22px;
        }
      }
    }

    h1 {
      font-family: sc;
      font-size: 45px;
      color: $rojo;
      text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.75);
    }
  }

  .subheader{
    height: 200px;
    width: 100%;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: $fondo-negro-semitrans;
    border-bottom: $fondo-boton-rojo 5px solid;
    border-top: $fondo-boton-rojo 5px solid;
    margin-bottom: 0px;
    display: block;

    #top_usadas{
      padding-top: 12px;
    }

    #top_votadas{
      padding-top: 8px;
      strong {
        color: $rojo;
        font-size: 32px;
        font-weight: bold;
      }
    }

    h1 {
      font-family: sc;
      font-size: 45px;
      margin-bottom: -20px;
      color: $amarillo;
      text-shadow: 0 10px 0 rgba(0, 0, 0, 0.75);
    }
    h3{
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.75);
    }
    p {
      color: $rojo;
      font-size: 18px;
      padding-left: 218px;
      margin-top: -20px;
      font-style: italic;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.75);
    }
  }
}
