.thing-form {
  margin: 20px 0;
}
#chat {
  background: white;

  .chat-box{
    padding: 5px 5px 5px 15px;
    display: block;
    overflow-y: scroll;
    max-height: 500px;
    border: grey 1px solid;
  }
}

.hero-unit {
  position: relative;
  background-image: url("../assets/images/bg/esp.jpg");
  background-repeat: no-repeat !important;
    background-position: bottom;
    background-attachment: fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
  //
  // background: #7D41FF;
  //   background-image: -webkit-linear-gradient(35deg, #00009a, #b300b3);
  //   background-image: linear-gradient(35deg, #00009a, #b300b3);

  display: table;
  width: 100%;
  height: 512px;
  min-height: 1000px;
  overflow-x: hidden;
  overflow-y: hidden;
  vertical-align: middle;

  .puntos{
    background: url("../assets/images/bg/puntos.png") repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .titulo {
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding-top: 40px;
    z-index: 999;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    clear: both;
    overflow: auto;
    position: relative;
    height: 340px;
    transition: all 900ms cubic-bezier(1, 0, 0, 1);
    p {
      font-family: 'Exo 2', sans-serif;
      font-weight: 900;
      font-size: 72px;
      text-shadow: 0 10px 0 rgba(0, 0, 0, 0.75);
      color: $amarillo;
      margin-bottom: -25px;
      transform: scale(1);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      &:hover{
        font-size: 78px;
      }
      strong{
        color: $rojo;
      }
    }

    h2 {
      font-family: 'Exo 2', sans-serif;
      font-weight: 200;
      padding-left: 196px;
      margin-bottom: -58px;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
    }
    h3 {
      font-family: 'Ope Sans', sans-serif;
      margin-top: -6px;
      text-align: center;
      margin-left: 150px;
      text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
    }
    #logo {
      width: 150px;
      height: 150px;
    }
    #logo_cr{
      width: 150px;
      height: 65px;
      margin-bottom: 30px;
    }
  }
}



.navbar-text {
  margin-left: 15px;
}


//
// Nuevo Estilo
//

section#mazos {
  #mazos_sh{
    position: relative;
    display: table;
    height: 500px !important;
    width: 100%;
    background: url("../assets/images/bg/madrid.jpg");
    background-repeat: no-repeat !important;
      background-position: bottom center;
      background-attachment: fixed !important;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
    margin-top: -20px;
    margin-bottom: -60px;
    z-index: -1;
    color: white;
    vertical-align: middle;

    #mazos_ban{
      vertical-align: middle;
      display: table-cell;
      text-align: center;

      p {
        font-family: 'Exo 2', sans-serif;
        font-weight: 900;
        font-size: 72px;
        text-shadow: 0 10px 0 rgba(0, 0, 0, 0.75);
        color: $amarillo;
        margin-bottom: 0px;
        transform: scale(1);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        z-index: 999;
        strong{
          color: $rojo;
        }
        &:hover{
          font-size: 78px;
        }
      }

      h2 {
        font-family: 'Exo 2', sans-serif;
        font-weight: 200;
        margin-top: -12px;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
      }
      h3 {
        font-family: 'Ope Sans', sans-serif;
        margin-bottom: -29px;
        text-align: center;
        margin-left: 150px;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
      }
    }
  }


  .tapa_arriba{
    height: 75px;
    background: white;
    transform: skewY(-1deg);
    z-index: 99;
    margin-top: 0px;
  }

  .tapa_abajo{
    height: 125px;
    background: white;
    transform: skewY(3deg);
    z-index: 99;
    margin-top: 0px;
  }

  #mazos_content{
    z-index: 999;
    margin-top: -100px;
    position: relative;
  }
}


section#torneos {
  #torneos_sh{
    position: relative;
    display: table;
    height: 500px !important;
    width: 100%;
    background: url("../assets/images/bg/barcelona.jpg");
    background-repeat: no-repeat !important;
      background-position: bottom center;
      background-attachment: fixed !important;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
    margin-top: -20px;
    margin-bottom: -60px;
    z-index: -1;
    color: white;
    vertical-align: middle;

    #torneos_ban{
      vertical-align: middle;
      display: table-cell;
      text-align: center;

      p {
        font-family: 'Exo 2', sans-serif;
        font-weight: 900;
        font-size: 72px;
        text-shadow: 0 10px 0 rgba(0, 0, 0, 0.75);
        color: $amarillo;
        margin-bottom: -25px;
        transform: scale(1);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        z-index: 999;
        strong{
          color: $rojo;
        }
        &:hover{
          font-size: 78px;
        }
      }

      h2 {
        font-family: 'Exo 2', sans-serif;
        font-weight: 200;
        margin-top: -10px;
        margin-left: 69px;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
      }
      h3 {
        font-family: 'Ope Sans', sans-serif;
        margin-bottom: 0px;
        text-align: center;
        margin-left: 150px;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
      }
    }
  }


  .tapa_arriba{
    height: 75px;
    background: white;
    transform: skewY(1deg);
    z-index: 99;
    margin-top: 0px;
  }

  .tapa_abajo{
    height: 125px;
    background: white;
    transform: skewY(3deg);
    z-index: 99;
    margin-top: 0px;
  }

  #torneos_content{
    z-index: 999;
    margin-top: -100px;
    position: relative;
  }
}


section#cofres {
  #cofres_sh{
    position: relative;
    display: table;
    height: 500px !important;
    width: 100%;
    background: url("../assets/images/bg/valencia.jpg");
    background-repeat: no-repeat !important;
      background-position: bottom center;
      background-attachment: fixed !important;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
    margin-top: -36px;
    margin-bottom: -60px;
    z-index: -1;
    color: white;
    vertical-align: middle;

    #cofres_ban{
      vertical-align: middle;
      display: table-cell;
      text-align: center;

      p {
        font-family: 'Exo 2', sans-serif;
        font-weight: 900;
        font-size: 72px;
        text-shadow: 0 10px 0 rgba(0, 0, 0, 0.75);
        color: $amarillo;
        margin-bottom: 0px;
        transform: scale(1);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        z-index: 999;
        strong{
          color: $rojo;
        }
        &:hover{
          font-size: 78px;
        }
      }

      h2 {
        font-family: 'Exo 2', sans-serif;
        font-weight: 200;
        margin-left: -235px;
        margin-bottom: -24px;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
      }
      h3 {
        font-family: 'Ope Sans', sans-serif;
        margin-top: -6px;
        text-align: center;
        margin-left: 150px;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
      }
    }
  }


  .tapa_arriba{
    height: 75px;
    background: white;
    transform: skewY(2deg);
    z-index: 99;
    margin-top: 0px;
  }

  .tapa_abajo{
    height: 125px;
    background: white;
    transform: skewY(2deg);
    z-index: 99;
    margin-top: 0px;
  }

  #cofres_content{
    margin-top: -100px;
    position: relative;
    z-index: 999;
  }
}



section#clan {
  #about_us_sh{
    position: relative;
    display: table;
    height: 500px !important;
    width: 100%;
    background: url("../assets/images/bg/leon.jpg");
    background-repeat: no-repeat !important;
      background-position: bottom center;
      background-attachment: fixed !important;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
    margin-top: -20px;
    margin-bottom: -60px;
    z-index: -1;
    color: white;
    vertical-align: middle;

    #about_us_ban{
      vertical-align: middle;
      display: table-cell;
      text-align: center;

      p {
        font-family: 'Exo 2', sans-serif;
        font-weight: 900;
        font-size: 72px;
        text-shadow: 0 10px 0 rgba(0, 0, 0, 0.75);
        color: $amarillo;
        margin-bottom: 0px;
        transform: scale(1);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        z-index: 999;
        strong{
          color: $rojo;
        }
        &:hover{
          font-size: 78px;
        }
      }

      h2 {
        font-family: 'Exo 2', sans-serif;
        font-weight: 200;
        margin-left: -235px;
        margin-bottom: -40px;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
      }
      h3 {
        font-family: 'Ope Sans', sans-serif;
        margin-top: -6px;
        text-align: center;
        margin-left: 150px;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
      }
    }
  }


  .tapa_arriba{
    height: 75px;
    background: white;
    transform: skewY(1deg);
    z-index: 99;
    margin-top: 0px;
  }

  .tapa_abajo{
    height: 125px;
    background: white;
    transform: skewY(-3deg);
    z-index: 99;
    margin-top: 0px;
  }

  #about_us{
    margin-top: -100px;
    position: relative;
    z-index: 999;
  }
}
