<header class="hero-unit" id="banner" ng-parallax pattern="'assets/images/bg/esp.jpg'" speed="10" reverse="false">
    <!-- <div class="puntos"></div> -->
    <div class="titulo">
      <h2>Comunidad de jugadores de
        <a href="http://clashroyale.com" target="_blank">
          <img id="logo_cr" src="assets/images/ClashRoyale_logo_version_02.png" />
        </a>
      </h2>
      <p>
        <img id="logo" src="assets/images/eeavatarborjonudo.png" alt="@EliteEspanaCR" />
        ELITE
        <strong>ESPAÑA</strong>
      </p>
      <h3>Generador y Ranking de Mazos</h3>
      <h3>Herramienta de gestión de Torneos</h3>
    </div>
</header>

<navbar></navbar>

<section id="info">
  <div class="container" ng-bind-html="main.infoclan.info().homeTexto">
  </div>
</section>


<section id="mazos">
  <div class="tapa_arriba"></div>
  <div class="subheader" id="mazos_sh" >
    <div class="container" id="mazos_ban">
      <h3>Ranking: Usadas y Votadas</h3>
    <p>
      Generador de
      <strong>Mazos</strong>
    </p>
    <h2>Comentarios y estadísticas, en cada mazo</h2>
    </div>
  </div>
  <div class="tapa_abajo"></div>
  <div id="mazos_content">
    <div class="container">
      <h1>En obras</h1>
      <p>Aún no está en condiciones de ser testado</p>
      <p>La RC incluirá las siguientes opciones:</p>
      <ul>
        <li>Editor de mazo própio, filtrable por cada característica de las cartas</li>
        <li>Visor de TOP25, de mazos mas usados, con estadísticas</li>
        <li>Visor de TOP25, de mazos mas votados, con estadísticas</li>
        <li>Visor de TOP10, de cartas mas y menos usadas, con estadísticas</li>
        <li>Lista completa de mazos, ordenable por cada criterio</li>
        <li>Vista de cada mazo, con chat-foro en tiempo real</li>
        <li>Imágenes de alta definición de las cartas</li>
      </ul>
    </div>
  </div>
</section>

<section id="torneos">
  <div class="tapa_arriba"></div>
  <div class="subheader" id="torneos_sh" >
    <div class="container" id="torneos_ban">
    <p>
      Gestor de
      <strong>Torneos</strong>
    </p>
    <h3>Creación, inscripción, y disputa</h3>
    <h2>¡Ranking de los mejores guerreros!</h2>
    </div>
  </div>
  <div class="tapa_abajo"></div>
  <div id="torneos_content" ng-show="main.isAdmin()">
    <torneo />
  </div>
</section>

<section id="cofres">
  <div class="tapa_arriba"></div>
  <div class="subheader" id="cofres_sh" >
    <div class="container" id="cofres_ban">
    <h2>La bola mágica dice...</h2>
    <p>
      Calculadora de
      <strong>Cofres</strong>
    </p>
    <h3>¿Cuanto te falta para el cofre morado?</h3>
    </div>
  </div>
  <div class="tapa_abajo"></div>
  <div id="cofres_content">
    <div class="container">
      <cofres />
    </div>
  </div>
</section>

<section id="rrss">
  <div class="tapa_arriba"></div>
  <div class="subheader" id="rrss_sh" >
    <div class="container" id="rrss_ban">
    <p>
      Redes
      <strong>Sociales</strong>
    </p>
    <h3><i class="fa fa-twitter"></i>Twitter: {{ main.infoclan.info().twitter }}</h3>
    <h2>...y mas en breve!</h2>
    </div>
  </div>
  <div class="tapa_abajo"></div>
  <div id="rrss_content">
    <rrss />
  </div>
</section>

<section id="clan">
  <div class="tapa_arriba"></div>
  <div class="subheader" id="about_us_sh" >
    <div class="container" id="about_us_ban">
    <h2>Sobre nosotros...</h2>
    <p>
      Normas del
      <strong>Clan</strong>
    </p>
    <h3>Organización de nuestros clanes</h3>
    <h3>Herramientas y Redes Sociales</h3>
    </div>
  </div>
  <div class="tapa_abajo"></div>
  <div id="about_us">
    <div class="container">
      <clan />
    </div>
  </div>
</section>


<div class="container" id="chat" ng-show="main.isAdmin()">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Test de chat en tiempo real:</h1>
        <div class="chat-box" id="chat-box-main">
          <p ng-repeat="thing in main.awesomeThings">
            {{thing.name}}
            <button type="button" class="close" ng-click="main.deleteThing(thing)" ng-show="main.isAdmin()">&times;</button>
          </p>
        </div>
        <!-- <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
          <li><a href="#" uibtooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="main.deleteThing(thing)" ng-show="main.isAdmin()"
>&times;</button></a></li>
        </ul> -->
      </div>
    </div>

    <form class="thing-form">
      <label>Los mensajes se trasmiten en tiempo real entre todos los clientes ;)</label>
      <p class="input-group">
        <input type="text" class="form-control" placeholder="Añade un nuevo mensaje" ng-model="main.newThing">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-click="main.addThing()">Add New</button>
        </span>
      </p>
    </form>

</div>

<footer></footer>
