.clan {
  #md_visor_clanTexto {
    margin-top: 10px;
    padding: 15px;

    h1,h2,h3,h4,h5 {
      color: $rojo;
      font-family: sc;
      text-shadow: 0 6px 0 rgba(0, 0, 0, 0.75);
    }

    p,li {
      font-size: 16px;
    }

    strong {
      color: $amarillo;
    }
  }

  .clanTexto{
    margin-top: 5px;
    margin-bottom: 15px;

    #md_editor_clanTexto{
     textarea {
       width: 100%;
     }
    }
  }

  .staff{
    display: inline-block;
    text-align: center;
    position:relative;
    h1{
      margin-left: -25px;
    }

    h3{
      margin-left: -25px;
      margin-top: -10px;
    }

    .ficha{
      display: inline-flex;
      width: 160px;
      padding: 4px;
      margin-bottom: 20px;
      line-height: 1.42857;
      background-color: #fff;
      border: none;
      border-radius: 4px;
      transition: all 0.2s ease-in-out;
      vertical-align: middle;
      position: relative;

      &:hover{
        .caption{
          visibility: visible;
        }

        img{
          border: none;
        }
      }

        img{
          width: 120px;
          height: 120px;
          border: 3px solid $amarillo;
        }

        .caption{
          visibility: hidden;
          padding: 9px;
          color: white;
          position: absolute;
          vertical-align: middle;
          display: block;
          width: 120px;
          height: 120px;
          top: 4px;
          left: 4px;
          text-align: center;
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.75);
          p{
            margin: 0;
          }
          h3,h4 {
            color: $rojo;
            margin: 0;
          }
          h5{
            color: $amarillo;
            margin: 0;
          }
        }
    }

    .alter {
      .caption{
        width: 80px !important;
        height: 80px !important;
      }
      img{
        width: 80px !important;
        height: 80px !important;
        border: 2px solid $twitter !important;
      }
      p,h5{
        font-size: 11px !important;
      }
    }
  }
}
