div.row.clan
 div.col-sm-12.pull-right
  div#md_visor_clanTexto(btf-markdown='$ctrl.infoclan.info().clanTexto')
  div.clanTexto(ng-show='$ctrl.isAdmin()')
    div#md_editor_clanTexto
      h1 Editor de Normas
      textarea(rows='15', ng-model='$ctrl.infoclan.info().clanTexto')
      button.btn.btn-success(aria-haspopup='true', aria-expanded='false', ng-click='$ctrl.save()')
        i.fa.fa-floppy-o 
        |  Guardar
