div.container
  div.row
    div.col-sm-6.col-xs-12#tweets
      h1 
        i.fa.fa-twitter 
        | Tweet
      twitter-timeline 
        a.twitter-timeline(href='https://twitter.com/EliteEspanaCR', data-widget-id='694686901178077184')
          |Tweets https://twitter.com/EliteEspanaCR/lists/cr-oficial
      twitter-timeline 

    div.col-sm-6.hidden-xs#likes
      h1 
        i.fa.fa-heart
        | Like
      twitter-timeline 
        a.twitter-timeline(href='https://twitter.com/EliteEspanaCR/likes', data-widget-id='694686026598588417')
          |Likes https://twitter.com/EliteEspanaCR/lists/cr-oficial
      twitter-timeline 
