div.container
  div.row
    div.col-sm-4.col-xs-12#tweets
      h1 
        i.fa.fa-twitter 
        | Tweet
      twitter-timeline 
        a.twitter-timeline(href='https://twitter.com/EliteEspanaCR', data-widget-id='694686901178077184')
          |Tweets lista@oficial https://twitter.com/EliteEspanaCR/lists/cr-oficial
      twitter-timeline 

    div.col-sm-4.hidden-xs#likes
      h1 
        i.fa.fa-heart
        | Like
      twitter-timeline 
        a.twitter-timeline(href='https://twitter.com/EliteEspanaCR/likes', data-widget-id='694686026598588417')
          |Tweets lista@oficial https://twitter.com/EliteEspanaCR/lists/cr-oficial
      twitter-timeline 

    div.col-sm-4.hidden-xs#oficial
      h1
        i.fa.fa-link
        | oficial
      twitter-timeline 
        a.twitter-timeline(href='https://twitter.com/EliteEspanaCR/lists/cr-oficial', data-widget-id='694685165688332289')
          |Tweets lista@oficial https://twitter.com/EliteEspanaCR/lists/cr-oficial
      twitter-timeline 
